@font-face {
  font-family: CalSans;
  src: url(../src/assets/fonts/CalSans-Regular.ttf);
}

@font-face {
  font-family: Oswald-ExtraLight;
  src: url(../src/assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../src/assets/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../src/assets/fonts/Montserrat-Medium.ttf);
}

@import "tailwindcss";

@theme {
  --font-calsans: CalSans, sans-serif;
  --font-oswald: Oswald-ExtraLight, sans-serif;
  --font-montserrat: Montserrat-Light, sans-serif;
  --font-montserrat-medium: Montserrat-Medium, sans-serif;
}


.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}