@font-face {
  font-family: CalSans;
  src: url(../src/assets/fonts/CalSans-Regular.ttf);
}

@font-face {
  font-family: Oswald-ExtraLight;
  src: url(../src/assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../src/assets/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../src/assets/fonts/Montserrat-Medium.ttf);
}

@import "tailwindcss";

@theme {
  --font-calsans: CalSans, sans-serif;
  --font-oswald: Oswald-ExtraLight, sans-serif;
  --font-montserrat: Montserrat-Light, sans-serif;
  --font-montserrat-medium: Montserrat-Medium, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  padding: 10px;
  color: #000000;
  font-size: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  box-shadow: none;
  z-index: 10;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000000;
  margin-bottom: 50px;
}

.fade-img {
  -webkit-mask-image: linear-gradient(to left, transparent 5%, black 60%);
  mask-image: linear-gradient(to left, transparent 5%, black 60%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@media (max-width: 640px) {
  .fade-img {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 60%);
    mask-image: linear-gradient(to top, transparent 5%, black 60%);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

.fade-marquee {
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type="range"].progress-bar {
  background: transparent;
  position: relative;
  z-index: 1;
}

input[type="range"].progress-bar::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 9999px;
  background: #a3a4a7;
  position: relative;
  z-index: 1;
}

input[type="range"].progress-bar::before {
  content: "";
  position: absolute;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  border-radius: 9999px;
  width: var(--progress);
  pointer-events: none;
  z-index: 2;
}

input[type="range"].progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  background: transparent;
  margin-top: 2px;
}

input[type="range"].progress-bar::-moz-range-track {
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    black 0%,
    black var(--progress),
    #aeb0b3 var(--progress),
    #aeb0b3 100%
  );
}

input[type="range"].progress-bar::-moz-range-thumb {
  height: 0px;
  width: 0px;
  border: transparent;
  border: none;
}

@layer utilities {
  @media (max-width: 320px) {
    .xs {
      font-size: 12px;
      max-width: 80px;
    }
  }
}