@font-face {
  font-family: CalSans;
  src: url(../src/assets/fonts/CalSans-Regular.ttf);
}

@font-face {
  font-family: Oswald-ExtraLight;
  src: url(../src/assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../src/assets/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../src/assets/fonts/Montserrat-Medium.ttf);
}

@import "tailwindcss";

@theme {
  --font-calsans: CalSans, sans-serif;
  --font-oswald: Oswald-ExtraLight, sans-serif;
  --font-montserrat: Montserrat-Light, sans-serif;
  --font-montserrat-medium: Montserrat-Medium, sans-serif;
}


.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  padding: 10px;
  color: #000000;
  font-size: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  box-shadow: none;
  z-index: 10;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000000;
  margin-bottom: 50px;
}

.fade-img {
    -webkit-mask-image : linear-gradient(to left, transparent 5%, black 60%);
    mask-image: linear-gradient(to left, transparent 5%, black 60%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat
}

@media (max-width: 768px) {
  .fade-img {
    -webkit-mask-image: 
      linear-gradient(to top, transparent 5%, black 60%);
      mask-image: linear-gradient(to top, transparent 5%, black 60%);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

html, body, #root{
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}